<!DOCTYPE html>
<%-include('include/header.ejs')%> 
<div id="site-main">
    <div class="login_btn">
        <a href="/" class="GFG">
           Logout
        </a>    
    </div>
    <div class="container">
        
        <h1>Welcome <%= name%></h1>

    </div>
</div>



<%-include('include/footer.ejs') %> 

